<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="D:/NM/java29_maven_base">
        <classes>
            <class name="java29_homework.day12.TestngData"></class>
            <class name="java29_homework.day12.StudentTestng"></class>
        </classes>
    </test>
</suite>